@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

:root{
    --celeste-1: #234459;
    --celeste-2: #3C7499;
    --celeste-3: #5AAEE6;
    --celeste-4: #94C1FF;
    --azul: #1d3557;

    --azul-1: #012E40;
    --azul-3: #026773;

    --negro: #000;
    --gris-obscuro: #8c8c8c;
    --gris: #d9d9d9;
    --gris-nuevo: #f5f5f5;
    --blanco2: #F8F8F8;
    --blanco: #fff;
    --color1: #333;
    --colo2: #555;
    --rojo: #e63946;
    --color3: #ddd;
}
*{
  font-family: Mulish;
  font-size: 1em;
}
.header-container {
  position: fixed;
  top: 0;         
  left: 0;
  width: 100%;    
  background-color: var(--azul-1);
  display: flex;
  align-items: center;
  height: 70px;
  z-index: 100;
  padding: 10px 100px;
}
.Logo {
  width: auto; 
  height: 90%;
  padding-left: 10px;
}

.icon {
  color: var(--blanco);
  font-size: 27px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px 5%;
  box-sizing: border-box;
  margin:0px 210px;
}

.pages ul {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
  gap: 10px; 
}

.page {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--azul-1);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 15px;
  color: var(--blanco);
}

.page:hover {
  background-color: var(--celeste-2);
}

.botton{
  text-decoration: none;
}

.page h2{
  color: var(--blanco);
  font-size: 16px;
  margin: 0;
}
/*
#pages a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--blanco);
}
#pages i {
    color: var(--blanco);
    font-size: 24px;
    margin-bottom: 5px;
}
#pages h2 {
    color: var(--blanco);
    font-size: 16px;
    margin: 0;
}
body{
    padding-top: 6.2%;
    background-color: var(--gris-nuevo);
}
#body-container{
    margin: 0 200px;
    margin-bottom: 60px;
}
.barra{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--gris);
    position: sticky;
    border-radius: 10px;
    height: 50px;
}
.barra h2{
    font-family: Montserrat Subrayada;
    color: var(--azul-3);
    font-size: 1.6em;
}
footer {
    background-color: var(--azul-1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: relative;
}
footer h3{
    color: var(--blanco);
    font-size: 0.9em;
}*/